table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  border-color: #4e6ef2;
  border: none;
  border-spacing: 0;
}

thead {
  background-color: #4e6ef2;
  color: #fff;
}

tbody {
  background-color: #eee;
  color: red;
}

tr:nth-child(odd) {
  background-color: #fff;
}

th, td {
  text-align: center;
}

td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
}

tr {
  transition: all .3s;
}

tr:hover {
  background-color: #ddd;
}

tbody {
  color: #333;
}

td.operation button {
  cursor: pointer;
  padding: 3px 5px;
  color: #fff;
  border: none;
  outline: none;
}

button.edit {
  background-color: #4e6ef2;
  margin-right: 5px;
}

button.del {
  background-color: red;
}